@tailwind base;
@tailwind components;
@tailwind utilities;

#container .box {
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
}
#container .box > div {
  width:100px;
  height:100px;
  font-size:96px;
  color:#FFF;
  position:absolute;
  top:50%;
  left:50%;
  margin:-50px 0 0 -50px;
  line-height:.7;
  font-weight:bold;
}
#container {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
}

.one {
  background-color: #45CCFF;
}
.two {
  background-color: #49E83E;
}
.three {
  background-color: #EDDE05;
}
.four {
  background-color: #E84B30;
}
/* 
.msgDefilant {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 120px;
}



.msgDefilant div span,
.msgDefilant div:after {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  top: 0;
}

.msgDefilant div span {
  animation: defilement 10s infinite linear;
  font-size: 10vw;
  width: 100%;
}

.msgDefilant div:after {
  position: absolute;
  top: -27%;
  left: 0;
  content: attr(data-text);
  animation: defilement2 10s infinite linear;
  color: white;
  font-size: 10vw;
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
} */
