@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

#container .box > div {
  width: 100px;
  height: 100px;
  font-size: 96px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  line-height: 0.9;
  font-weight: bold;
}
#container {
  overflow-y: scroll;
  overflow-x: hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color: #999;
  position: absolute;
  width: 100vh;
  height: 100vw;
}
#container .box {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  position: relative;
}
#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space: nowrap;
  font-size: 0;
}


/* 
.msgDefilant {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 120px;
}



.msgDefilant div span,
.msgDefilant div:after {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  top: 0;
}

.msgDefilant div span {
  animation: defilement 10s infinite linear;
  font-size: 10vw;
  width: 100%;
}

.msgDefilant div:after {
  position: absolute;
  top: -27%;
  left: 0;
  content: attr(data-text);
  animation: defilement2 10s infinite linear;
  color: white;
  font-size: 10vw;
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
} */
