@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@media screen and (min-width: 769px) {
  a,
  a > span {
    @apply relative text-inherit no-underline leading-[24px] cursor-none;
  }
  a:before,
  a:after,
  a > span:before,
  a > span:after {
    @apply content-[''] absolute transition-transform duration-500 ease-in-out;
  }

  .hoverEffect {
    @apply inline-block overflow-hidden opacity-60;
  }
  .hoverEffect:before {
    @apply left-0 top-0 w-full h-full bg-white  translate-x-[-110%];
  }
  .hoverEffect:after {
    @apply content-[attr(data-content)] absolute left-0 top-0 w-0 m-12 text-white whitespace-nowrap overflow-hidden transition-all duration-500 ease-in-out;
  }
  .hoverEffect > span {
    @apply block m-[2px] p-[10px] bg-black;
  }
  .hoverEffect:hover:before {
    @apply translate-x-0;
  }
  .hoverEffect:hover:after {
    width: calc(100% - 24px);
  }

  .hoverEffect:hover {
    @apply opacity-100;
  }

  /* Effet scroll horizontal */

  #container .box > div {
    @apply w-[100px] h-[100px] text-2xl text-white absolute top-[50%] left-[50%] ml-[-50px] mt-[-50px] mb-0 mr-0 leading-[0.9] font-bold;
  }
  #container {
    transform: rotate(270deg) translateX(-100%);

    @apply overflow-x-hidden overflow-y-scroll origin-top-left bg-[#999] absolute w-[100vh] h-[100vw] ;
  }
  #container .box {
    @apply w-[100vw] h-[100vh] inline-block relative;
  }
  #container2 {
    transform: rotate(90deg) translateY(-100vh);

    @apply origin-top-left whitespace-nowrap text-[0px];
  }
}

/* 
.msgDefilant {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 120px;
}

.msgDefilant div span,
.msgDefilant div:after {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  top: 0;
}

.msgDefilant div span {
  animation: defilement 10s infinite linear;
  font-size: 10vw;
  width: 100%;
}

.msgDefilant div:after {
  position: absolute;
  top: -27%;
  left: 0;
  content: attr(data-text);
  animation: defilement2 10s infinite linear;
  color: white;
  font-size: 10vw;
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
} */
